numpy
matplotlib
pyside6
xlrd
# these for model communication
qianfan
langchain
langchain_community
httpx
httpx-sse
PyJWT
openai
dashscope
langchain-openai
# these for TTS 
pygame
ffmpeg # 这个在Windows里面还得额外下载，pip下来的没有exe
websocket
websocket-client
pydub # 这个装了之后要改路径，不然找不到ffmpeg.exe